<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- frontMatter.title %> | Henrique Fontes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.8.1/github-markdown-light.css"
      integrity="sha512-CxC9MO8FBaaq8vl9yaXHjgWd7uXqx3pWMSBP3daioTTI0gpXijlypuMV67NoE1bPYMzj7ZSNNS0o+jFFdFodgA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/github.css"
    />
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
  </head>
  <body>
    <%- include("../partials/header") %>
    <main class="wrapper post-container">
      <% if (frontMatter.banner) { %>
      <div class="banner-wrapper">
        <img src="<%- frontMatter.banner %>" alt="" />
      </div>
      <% } %>
      <div class="post-info">
        <span class="post-date"
          ><i class="fa-solid fa-calendar"></i><%- frontMatter.date %></span
        >
        <div class="post-tags">
          <% for(const tag of (frontMatter.tags || [])) { %>
          <a class="badge <%-tag%>" href="tags/<%-tag%>"></i><%-tag%> <% } %></a>
        </div>
      </div>
      <h1><%- frontMatter.title %></h1>
      <div class="markdown-body" data-theme="light"><%- content %></div>
      <hr style="margin-bottom: 30px" />
      <div id="disqus_thread"></div>
    </main>

    <script>
      hljs.highlightAll();
    </script>
    <script>
      var disqus_config = function () {
        this.page.url = "https://henriquefontes.dev";
        this.page.identifier = "<%- identifier %>";
      };
      (function () {
        var d = document,
          s = d.createElement("script");
        s.src = "https://henriquefontes.disqus.com/embed.js";
        s.setAttribute("data-timestamp", +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
  </body>
</html>
